<h1>Your User Account</h1>

<h2>Your Products</h2>
<table>
  <thead>
    <tr>
      <th width="50">Product Category</th>
      <th width="100">Product Name</th>
      <th width="100">Date Added</th>
      <th width="100">Edit Product</th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>
