<h1>This page is a order summary  page after it has been placed.
Page works , but no logic yet. Cart needs to be emptied and quantities updated. </h1>


<<<<<<< HEAD
 Thank you for shopping at Glitzy !
=======

<h4>Total Cost: <%= @order.total_cost %></h4>

<h1>Thank you for shopping at Glitzy !</h1>
>>>>>>> cart_reset

<button>
  <%= link_to "Home", root_path %>
</button>

<button>
  <%= link_to "View all orders", orders_path %> if merchant !!
</button>
