<article class="order">

  <div class="row title">
    <h3 class="small-12 columns">
      Order Details
    </h3>
  </div>

  <div class="row">
    <div class="small-12 medium-6 columns">
      <h4>Order Items</h4>
      <p>Order status:</p>
      <table>
        <tr>
          <th>Product Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </tr>

        <tr>
          <td>product name </td>
          <td>product price</td>
          <td>quantity</td>
          <td>total, or subtotal</td>
        </tr>

        </table>
        <p>
            <strong>Your Total: </strong>
        </p>
    </div>
    <div class="small-12 medium-6 columns">
      <h4>Shipping Information</h4>

      <p>Order:</p>
      <ul>
        <li><%= @order%></li>
      </ul>
    </div>
  </div>

</article>
