<h1> Edit Order Item Quantity </h1>

<section>
  <%= form_for @order_item do |f| %>

    <%= f.label :quantity %>
    <% num = 0 %>
    <% @product.quantity < 20 ? num = @product.quantity : num = 20 %>
    <%= f.select :quantity, options_for_select((1..num).to_a)%>

    <%= f.submit class: "button" %>
  <% end %>
</section>
