<article class="user">

  <div class="row title">
    <h3 class="small-12 cloumns">
      Cart
    </h3>
  </div>

  <div class="row">
    <div class="small-8 columns">
      <ul>
        <p>
          Your cart is empty!
        </p>
            <div class="small-12 columns cart-items">
              <li>


              </li>
            </div>
      </ul>
    </div>
    <div class="small-12s columns">
    </div>
  </div>
</article>
