<h1>New Order Item </h1>
<section>
  <%= form_for [@product, @order_item], :url => url_for(:controller => 'order_items', :action => 'create') do |f| %>

    <%= f.label :quantity %>
    <%= f.select :quantity, options_for_select([1,2,3,4,5])%>

    <%= f.submit class: "button" %>
  <% end %>
</section>
