/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
//= require foundation_and_overrides
//= require_tree .
//= require_self
 */

$primary-font: 'Playfair Display', serif;
$secondary-font:'Raleway', serif;

$primary-teal: 2268d8;
$pink: #d469e5;
$secondary-color: #405b7a;
$light-gray: #EEEEEE;
$dark-gray: #424242;
$gold: #FF5722;

$default-border: 2px solid;

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Leckerli+One');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700');
.cart {
  display: inline-block;
  height: 4em;
  padding-bottom: 35px;
}
body, h1, h2 {
  font-family: $primary-font;
}

body, h3, h4, h5 {
  font-family: $secondary-font;
}

small {
  font-family: 'Leckerli One', cursive;
  text-shadow: 0 0 4px $pink;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

 body small {
   color: white;
 }

 a, h3 {
   color: $primary-teal;
 }

 a:hover {
   color: $pink;
 }

.button {
  background-color: $primary-teal;
  display: inline-block;
  height: 3em;

  &:hover {
    background-color: $pink;
  }
}
.featured-item {
  font-family: 'Leckerli One';
  color: #233a75;
  text-shadow: 6px 6px 10px snow;

}
.main-content {
  padding-left: 20px;
  padding-right: 20px;

}
.cart-page li {
  list-style-type: none;
  text-align: left;
  margin: 5px;
  font-weight: bold;
  color: white;
  h4{
    font-family: 'Leckerli One';
    font-weight: lighter;
    color: $pink;
  }

  }

.cart-page ul {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #405b7a;
  background-color:rgba(0, 0, 0, 0.6);
  max-width: 450px;
  border-radius: 15px 50px 30px;
  height: 500px;
  overflow: scroll;
  padding-left: 25px;
}

 .page-header {
   max-width: 100%;
   padding: 25px 20px 10px 20px;
   h2 {
     text-align: center;
     margin: 25px auto 40px auto;
     a {
       color: $gold;
       padding-right: 25px;
       margin-right: 15px;
       border-right: white 2px solid;
     }
     small {
       color: white;
     }
   }
   p {
     margin-bottom: 5px;
   }
 }

 .top-ten {
   h3 {
     border-bottom: $default-border;
     border-bottom-color: $secondary-color;
   }
 }

 .top-ten ul {
   list-style-type: none;
   margin-left: 0px;
 }

 section.spotlight > div {
   padding: 0 2rem 2rem 2rem;
 }

.spotlight {
  p {
   margin-bottom: 0px;
  }
  a {
    border-bottom: $default-border;
  }
}

 .media-spotlight-header {
   color: $dark-gray;
 }

 .media-spotlight-header::after {
   content: ":"
 }

 .root-hr {
   margin: 0px auto 75px auto;
   color: $light-gray;
 }

main {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.thank-you {
  text-align: center;
}
