@import url('https://fonts.googleapis.com/css?family=Codystar');

html, body {
  margin:0;
  padding:0;
  height:100%;
  background-image: image-url("thankyou.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#glitzy-title {
  font-family: 'Codystar';
}
