// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.medium-image, .product-info  {
  display: inline-block;
  margin: 0px auto;
}

// .show-product-view {
//   text-align: center;
// }
.product-info .button {
  margin: 0px auto;
  width: 100%;
}

.product-info {
  vertical-align: top;
}

.show-product-view {
  min-height: 40vh;
}

.show-product-review, .show-product-view {
  margin: 0px auto;
  text-align: center;
  max-width: 75vw;
  background-color: snow;
}

.show-product-view ul {
  text-align: left;
}
