// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Codystar');

html, body {
  margin:0;
  padding:0;
  height:100%;
  background-image: image-url("shopper.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#glitzy-title {
  font-family: 'Codystar';
}
