<h2>Review Details</h2>

<ul>
  <li>
    ID: <%= @review.id %>
  </li>
  <li>
    Product: <%=@review.product.name%>
  </li>
  <li>
    Rating: <%=@review.rating%> stars
  </li>
  <li>
    Description: <%= @review.text_review%>
  </li>

</ul>
